* {
	border: none;
	border-radius: 10;
        font-family: "Iosevka" ;
	font-size: 15px;
	min-height: 10px;
        transition: none;
}

#window, #workspaces, #mode, #network, #pulseaudio, #battery, #backlight, #clock, #memory, #cpu, #temperature, #disk, #tray, #custom-updates, #custom-weather {
	margin-bottom: 12px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-bottom: 12px;
	padding-left: 10px;
	padding-right: 10px;
        border-style: hidden;
	color: #B5E8E0;
	background: transparent;
}
#workspaces {
	margin-bottom: 12px;
	margin-left: 12px;
	font-size: 4px;
	border-radius: 10px;
	background: #161320;

}

#workspaces button {
	color: #B5E8E0;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
        border-top: 2px solid #161320;
        border-bottom: 2px solid #161320;
}

#workspaces button.focused {
        color: #ABE9B3;
        border-color: #ABE9B3;
        border-top: 2px solid #ABE9B3;
        border-bottom: 2px solid #ABE9B3;
}

#workspaces button:hover {
        box-shadow: inherit;
        text-shadow: inherit;
        color: #FAE3B0;
        border-color: #E8A2AF;
        color: #E8A2AF;
}

#workspaces button.focused:hover {
    color: #E8A2AF;
}

#mode {
	color: #1A1826;
        background: #ebcb8b;
}

#network {
	margin-bottom: 12px;
	background: #bd93f9;
}

#pulseaudio {
	color: #1A1826;
	background: #FAE3B0;
}

#battery {
	color: #161320;
	background: #B5E8E0;
}

#battery.charging, #battery.plugged {
	color: #161320;
        background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
        background-color: #B5E8E0;
        color: #161320;
        animation-name: blink;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	color: #161320;
	background: #F8BD96;
}
#clock {
	color: #161320;
	background: #ABE9B3;
	/*background: #1A1826;*/
}

#memory {
	color: #161320;
	background: #DDB6F2;
}
#cpu {
	color: #161320;
	background: #96CDFB;
}

#temperature {
	color: #161320;
	background: #8fbcbb;
}

#temperature.critical {
        color: #bf616a;
	background: #8fbcbb;
}

#disk {
	color: #161320;
        background: #DB94E9;
}

#tray {
	color: #B5E8E0;
	background: #161320;
}

#custom-weather {
	color: #161320;
	background: #A9A9Eb;
}

#custom-launcher {
	font-size: 24px;
	margin-bottom: 12px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
        color: #89DCEB;
        background: #161320;
}

#custom-power {
	font-size: 20px;
	margin-bottom: 12px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	color: #161320;
	background: #F28FAD;
}

#custom-wallpaper {
	color: #161320;
	background: #C9CBFF;
}

#custom-updates {
	color: #161320;
	background: #E8A2AF;
}

#custom-media {
	color: #161320;
	background: #F2CDCD;
}
