/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Maxime RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
.sponsor-card {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 760px) {
  .sponsor-card {
    flex-direction: column;
  }
}
.sponsor-image img {
  cursor: pointer;
  height: auto;
  max-width: 256px;
  margin-right: .8em;
}
.sponsor-title {
  font-size: 1.1em;
  font-weight: bold;
}
.sponsor-link {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
.sponsor-description em {
  font-weight: bold;
}
.sponsor-note {
  display: flex;
  align-items: center;
  background-color: #ececec;
  border-radius: .231em;
  margin-top: .5em;
  padding: .462em;
}
.sponsor-note svg {
  fill: var(--primary-color);
  height: 2.5em;
  width: 2.5em;
  min-width: 2.5em;
  margin-right: .462em !important;
}